<a href="https://colab.research.google.com/github/Zaier9/Procesamiento-del-lenguaje-natural/blob/master/Collocations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Collocations(Colocaciones)

*   Son secuencias de palabras que suelen ocurrir en textos o conversaciones con una **frecuencia insusualmente alta**
*   Las colocaciones de una palabra son declaraciones formales de donde suele ubicarse típicamente esa palabra

In [ ]:
import nltk
nltk.download('book')
from nltk.book import *
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import plotly.express as px
from nltk.util import ngrams

In [8]:
md_bigrams = list(bigrams(text1))

threshold = 2
filtered_bigrams = [bigram for bigram in md_bigrams if len(bigram[0])>threshold and len(bigram[1])>threshold]
filtered_bigram_dist = FreqDist(filtered_bigrams)

filtered_words = [word for word in text1 if len(word)>threshold]
filtered_word_dist = FreqDist(filtered_words)

df = pd.DataFrame()
df['bi_grams'] = list(set(filtered_bigrams))
df['word_0'] = df['bi_grams'].apply(lambda x: x[0])
df['word_1'] = df['bi_grams'].apply(lambda x: x[1])
df['bi_gram_freq'] = df['bi_grams'].apply(lambda x: filtered_bigram_dist[x])
df['word_0_freq'] = df['word_0'].apply(lambda x: filtered_word_dist[x])
df['word_1_freq'] = df['word_1'].apply(lambda x: filtered_word_dist[x])
df

                  bi_grams     word_0  ... word_0_freq  word_1_freq
0             (forth, ?--)      forth  ...          52           74
1             (every, fin)      every  ...         222           25
2         (badly, twisted)      badly  ...           4            8
3      (earnest, thinking)    earnest  ...          10           25
4            (grey, hairs)       grey  ...          20            5
...                    ...        ...  ...         ...          ...
67937  (Nantucket, packet)  Nantucket  ...          85            3
67938         (arms, were)       arms  ...          37          680
67939    (original, usage)   original  ...          21           12
67940  (Berkshire, marble)  Berkshire  ...           1           14
67941         (been, even)       been  ...         415          181

[67942 rows x 6 columns]

# Pointwise Mutual Information (PMI)

Una métrica basada en teoría de la información para encontrar Collocations.

**PMI = log(P(w1, w2)/P(w1)P(w2))**

In [11]:
df['PMI'] = df[['bi_gram_freq', 'word_0_freq', 'word_1_freq']].apply(lambda x: np.log2(x.values[0]/(x.values[1]*x.values[2])), axis = 1)
df

                  bi_grams     word_0  ... word_1_freq        PMI
0             (forth, ?--)      forth  ...          74 -11.909893
1             (every, fin)      every  ...          25 -12.438272
2         (badly, twisted)      badly  ...           8  -5.000000
3      (earnest, thinking)    earnest  ...          25  -7.965784
4            (grey, hairs)       grey  ...           5  -5.058894
...                    ...        ...  ...         ...        ...
67937  (Nantucket, packet)  Nantucket  ...           3  -7.994353
67938         (arms, were)       arms  ...         680 -14.618844
67939    (original, usage)   original  ...          12  -7.977280
67940  (Berkshire, marble)  Berkshire  ...          14  -3.807355
67941         (been, even)       been  ...         181 -15.196813

[67942 rows x 7 columns]

In [12]:
df.sort_values(by='PMI', ascending=False)

                        bi_grams       word_0  ... word_1_freq        PMI
63394            (miller, shuts)       miller  ...           1   0.000000
2662    (rivallingly, discolour)  rivallingly  ...           1   0.000000
40142   (Exploring, Expeditions)    Exploring  ...           1   0.000000
61620  (plausible, confirmation)    plausible  ...           1   0.000000
61621       (halfspent, suction)    halfspent  ...           1   0.000000
...                          ...          ...  ...         ...        ...
48602                 (man, the)          man  ...       13721 -22.732783
20462                (some, the)         some  ...       13721 -22.919024
25397                 (one, the)          one  ...       13721 -23.540138
41198                 (the, not)          the  ...        1103 -23.851315
33615                 (the, but)          the  ...        1113 -23.864336

[67942 rows x 7 columns]